@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("./img/iniciales.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
    
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#searchPokemon{
    margin-top: 4rem;
    background-color: white;
    width: 160px;
    border: rgb(54, 54, 54) 10px;
    padding: 6px;
    border-radius: 15px;
    font-size: 1rem;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    
    
}

#searchPokemon:focus{
    outline: none;
    border: none;
}

#searchPokemon::placeholder{
    font-size: 0.75rem;
    /* text-transform: uppercase; */
    font-weight: 600;
}

#logo-pokemon{
    height: auto;
    width: 20rem;
    margin-bottom: 10px;
    margin-top: 40px;
}

#container-card{
    background-color: rgba(48, 48, 48, 0.71);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: auto;
    width: auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0,5s ease;
}

#container-card:hover{
    /* box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.274); */
}

#container{
    background-color: rgba(128, 128, 128, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 60px;
    border-radius: 10px;
    transition: all 0.4s ease;
}

#container:hover{
    box-shadow: 0 5px 8px -4px rgba(99, 99, 99, 0.685);
    scale: 1.01;
}

#pokemonImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: auto;
    
}


#pokemonFront{
    max-width: 95%;
    max-height: 95%;
    transition: opacity 1s ease, transform 1s ease, all 1s ease;
}

#pokemonFront:hover{
    scale: 1.1;
}

#pokemonBack{
    max-width: 95%;
    max-height: 95%;
    transition: opacity 1s ease, transform 1s ease, all 1s ease;
}

#pokemonBack:hover{
    scale: 1.1;
}

h2{
    /* background-color: #fff;
    border-radius: 15px;
    padding: 10px; */
}

#pokemonStats {
    background-color: rgba(128, 128, 128, 0.527);
    display: flex;
    padding: 30px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    border-radius: 10px;
    transition: all 0.4s ease;
    width: 100%;
}

#pokemonStats:hover {
    box-shadow: 0 5px 8px -4px rgba(99, 99, 99, 0.685);
    scale: 1.01;
}

/* Añadir diseño a los contenedores de "type" */

#typesBox{
    font-size: 0.75rem;
  
    
}


#pokemonStats {
    margin-top: 20px;
  }
  
  .stats-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .stat {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .stat-name {
    font-weight: bold;
    text-transform: capitalize;
    width: 120px;
  }
  
  .bar-container {
    width: 200px;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .bar {
    height: 100%;
    background-color: #76c7c0;
    transition: width 0.3s ease-in-out;
    border-radius: 10px 0 0 10px; /* Redondea la parte de la barra que se llena */
  }
  
  .stat-value {
    font-weight: bold;
    width: 40px;
    text-align: right;
  }


  

/* ---------------------------------------------------------------------------------------- */

/* #suggestionContainer{
    padding-bottom: 2rem;
    background-color: red;
    position: fixed;
    top: 20rem;
} */

#suggestions{
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: static;
    overflow-y: auto;
    width: 160px;
    max-height: 250px;
    z-index: 10;
    display: none;
    font-size: 1rem;
  }
  
  .suggestion-item{
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item:hover{
    background-color: #f1f1f1;
  }
  
/* ---------------------------------------------------------------------------------------- */

#toggleShiny{
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    height: auto;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}

#shinySparkleImg{
    /* padding: 3px; */
    height: 50%;
    max-width: 100%;
    scale: 0.5;
}



/* ---------------------------------------------------------------------------------------- */

@media (max-width: 600px){

    body{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        font-size: 1rem;
        overflow: hidden;
    }

    #logo-pokemon{
        height: auto;
        width: 12rem;
        margin-bottom: 20px;
    }

    #searchPokemon{
        width: 80%;
        padding: 8px;
        font-size: 0.8rem;
    }

    #suggestions{
        width: 80%;
    }
    #container-card{
        height: auto;
        width: 80%;
        gap: 10px;
        padding: 10px;
        border-radius: 20px;
    }

    #container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 15px 32.5px;
    }

    h2 {
        font-size: 1.2rem;
    }

    #pokemonData{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }

    #pokemonImg {
        scale: 0.8;
    }

    #pokemonStats {
        padding: 10px;
        gap: 25px;
    }

    h3 {
        margin-top: 10px;
    }

    .stats-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .stat-name {
        font-size: 0.6rem;
        text-align: center;
    }

    .stat-value {
        font-size: 1.2rem;
    }
}

@media (min-width: 600px) and (max-width: 800px) {

    #logo-pokemon{
        width: 45%;
    }

    #searchPokemon{
        margin-bottom: 55px;
    }

    #container-card{
        height: 500px;
        gap: 45px;
    }

    #pokemonStats{
        gap: 25px;
        padding: 30px;
    }

    .stat-name{
        font-size: 1rem;
    }

    .stat-value{
        font-size: 2rem;
    }
}