*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
    
body{
    background-image: url("./img/iniciales.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

    
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchPokemon{
    background-color: white;
    width: 260px;
    border: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    text-align: center;
}

#searchPokemon:focus{
    outline: none;
    border: none;
}

#logo-pokemon{
    height: auto;
    width: 26rem;
    margin-bottom: 30px;
    margin-top: 25px;
}

#container-card{
    background-color: rgba(255, 255, 255, 0.71);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: auto;
    width: auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0,3s ease;
}

#container-card:hover{
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.274);
}

#container{
    background-color: rgba(128, 128, 128, 0.527);
    display: flex;
    padding: 30px;
    gap: 60px;
    border-radius: 10px;
    transition: all 0,3s ease;
}

#container:hover{
    box-shadow: 0 0 15px 8px rgba(1, 31, 90, 0.466);
    scale: 1.01;
}

#pokemonImg{
    background-color: rgba(255, 255, 255, 0.743);
    display: flex;
    align-items: center;
}

h2{
    margin-bottom: 10px;
}

#pokemonStats{
    background-color: rgba(128, 128, 128, 0.527) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 50px;
    border-radius: 10px;
    transition: all 0,3s ease;
}

#pokemonStats:hover{
    box-shadow: 0 0 15px 8px rgba(255, 221, 51, 0.507);
    scale: 1.01;
}

.stats-container{
    display: flex;
    gap: 20px;
}

.stat{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.stat-name{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.stat-value{
    font-size: 2.5rem;
}
/* ---------------------------------------------------------------------------------------- */

#suggestions {
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: static;
    overflow-y: auto;
    width: 260px;
    max-height: 500px;
    z-index: 10;
    display: none;
  }
  
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f1f1f1;
  }
  
/* ---------------------------------------------------------------------------------------- */

#shinyButton {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    transition: all 0.3s ease;
}

#shinyButton:hover {
    background-color: #ff6347;
}

@media (max-width: 600px){

    body{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        font-size: 1rem;
        overflow: hidden;
    }

    #logo-pokemon{
        height: auto;
        width: 12rem;
        margin-bottom: 20px;
    }

    #searchPokemon {
        width: 80%;
        padding: 8px;
        font-size: 0.8rem;
    }

    #suggestions {
        width: 80%;
    }
    #container-card{
        height: auto;
        width: 80%;
        gap: 10px;
        padding: 10px;
        border-radius: 20px;
    }

    #container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 15px 32.5px;
    }

    h2 {
        font-size: 1.2rem;
    }

    #pokemonData {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }

    #pokemonImg {
        scale: 0.8;
    }

    #pokemonStats {
        padding: 10px;
        gap: 25px;
    }

    h3 {
        margin-top: 10px;
    }

    .stats-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .stat-name {
        font-size: 0.6rem;
        text-align: center;
    }

    .stat-value {
        font-size: 1.2rem;
    }
}

@media (min-width: 600px) and (max-width: 800px) {

    #logo-pokemon{
        width: 45%;
    }

    #searchPokemon{
        margin-bottom: 55px;
    }

    #container-card{
        height: 500px;
        gap: 45px;
    }

    #pokemonStats{
        gap: 25px;
        padding: 30px;
    }

    .stat-name{
        font-size: 1rem;
    }

    .stat-value{
        font-size: 2rem;
    }
}